body{
    background-color: bisque    ;
}
div#layer1{
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    height: 350px;
    background-color: green;
    border: 1px solid blue;
    padding: 20px;
    border-radius: 15px;
}

div#layer2{
    z-index: 2;
    position: absolute;
    top: 150px;
    left: 150px;
    width: 500px;
    height: 350px;
    background-color: orange;
    border: 1px solid blue;
    padding: 20px;
    border-radius: 15px;
}

div#layer3{
    z-index: 3;
    position: absolute;
    top: 200px;
    left: 200px;
    width: 540px;
    height: 350px;
    background-color: aqua;
    border: 1px solid  black;
    padding: 20px;
    border-radius: 15px;
}

/* Footer Design Css Code */
footer{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-top: 15px;
}

/* Footer anchor tag Design CSS Code */
footer a{
    color: red;
    cursor: pointer;
}

/* Footer Link Visited Css Code  */
footer a:hover{
    text-decoration: none;
    color: purple;
}
