body{
    background-color: bisque    ;
}
div#layer1{
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    height: 350px;
    background-color: green;
    border: 1px solid blue;
    padding: 20px;
    border-radius: 15px;
}

div#layer2{
    z-index: 2;
    position: absolute;
    top: 150px;
    left: 150px;
    width: 500px;
    height: 350px;
    background-color: orange;
    border: 1px solid blue;
    padding: 20px;
    border-radius: 15px;
}

div#layer3{
    z-index: 3;
    position: absolute;
    top: 200px;
    left: 200px;
    width: 540px;
    height: 350px;
    background-color: aqua;
    border: 1px solid  black;
    padding: 20px;
    border-radius: 15px;
}